<!DOCTYPE html>
<html lang="en">
<!-- <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="./public/index_appSt.css">
  <head>
    <title>To Do Activity</title>
  </head>
  <body>

    <div class="container">
      <header>
        To Do
      </header>
      <div class="row">
        <div class="tbd">
          {{#todoList}}
          
          {{/todoList}}
        </div>
      </div>
    </div>
  </body>
</html>
